@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

nav {
    max-width: vw100;
    background-color: white;
    border-style: inset;
    border-color: #f39c12;
}

#navbarSupportedContent {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

.nav-item {
    margin-left: 20px;
}

header {
    height: 50px;
    margin-top: 25px;
}

.card {
    display: flexbox;
    justify-content: center;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-top: 50px;
    border-radius:10px;
    margin-bottom: 100px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f7/Testament_of_SH_-_Judge_Street_colored_sketch.png');
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 6px 6px black;
}

.row {
    min-height: 600px;
    padding: 20px;
}

.col-2 {
    padding: 6px;
    margin-left: 65px;
    border-style: inset;
    border-color: #f39c12;
    background-color: white;
    margin-top: 5px;
    font-size: smaller;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.col-9 {
    padding: 50px;
    border-style: inset;
    border-color: #f39c12;
    background-color: white;
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: smaller;
    font-family: 'Montserrat', sans-serif;
}

#button1 {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
}

.title h2,
.title div {
    display: inline;
}

 #dropdownMenuLink {
     float: right;
     margin-top: 35px;
     margin-right: 25px;
     font-size: large;
 }

 .buttons a,
 .buttons a {
     display: inline;
     padding: 5px;
 }

 .fresh {
     color: green;
 }

 .applied {
    color: green;
}

.response {
    color: green;
}

.replied {
    color: green;
}

.interview {
    color: green;
}

.help {
    font-family: 'Montserrat', sans-serif;
}