@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
    background-color: white;
}

h1 {
    color: #2980b9;
    text-shadow: 2px 2px black;
}

.heading {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    border-radius: 10px;
}

.card {
    display: flexbox;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-top: 50px;
    border-radius:10px;
    margin-bottom: 100px;
}

#alert {
    margin-top: 10px;
}