{% extends "auth/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <button class="btn">
        <a href="{% url 'profile' %}"><i class="fas fa-chevron-left"></i>Back</a>
    </button>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Save</button>
        </div>
    </form>
{% endblock content %}

